body {
    background-image: url(../images/skulls.png);
    font-size: 30px;
    font-family: 'Acme', sans-serif;
    color: #666;
}

.game-display {
    height: 700px;
    margin-top: 20px;
}

#game-img {
    height: 200px;
    width: auto;
} 
